@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* ドロップダウンメニュー */
.dropdwn_menu {
    zoom: 1;
    background-color: black;
    border: small solid whitesmoke;
    text-align: center;
}

.dropdwn_menu li {
    float: left;
    width: 200px;
    height: 36px;
    position: relative;
    list-style-type: none;
    border-top: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}

.dropdwn_menu:first-child {
    border-left: 1px solid whitesmoke;
}

.dropdwn_menu li:hover {
    background-color: rgb(77, 77, 77);
}

* html .dropdwn_menu li {
    display: inline;
    zoom: 1;
}

*+html .dropdwn_menu li {
    display: inline;
    zoom: 1;
}

.dropdwn_menu a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 36px;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    position: relative;
}

.dropdwn_menu ul.sub2 {
    display: none;
    background-color: black;
}

* html .dropdwn_menu ul.sub2 {
    zoom: 1;
    position: relative;
}

*+html .dropdwn_menu ul.sub2 {
    zoom: 1;
    position: relative;
}

.dropdwn_menu ul.sub2 li {
    float: none;
}

.dropdwn_menu ul.sub2 li ul.sub2 {
    position: absolute;
    left: 200px;
    top: 0;
}

.dropdwn_menu:after {
    height: 0;
    visibility: hidden;
    content: ".";
    display: block;
    clear: both;
}

.triangle_down {
    border-top: solid 6px whitesmoke;
    border-right: solid 6px transparent;
    border-left: solid 6px transparent;
    border-bottom: solid 6px transparent;
}

.triangle_right {
    border-left: solid 6px whitesmoke;
    border-right: solid 6px transparent;
    border-top: solid 6px transparent;
    border-bottom: solid 6px transparent;
}

/* 各ページ共通 */
.pageView {
    padding: 20px;
    margin-left: 10px;
    font-size: 16px;
}

.title {
    /* margin-top: 20px; */
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
}

/* ボタン */
.btn {
    @apply py-1 px-4 mb-2 rounded cursor-pointer;
}

.putBtn {
    @apply py-1 px-8 mt-6 rounded;
}

.addressSearchBtn{
    @apply  rounded text-xs mt-1 ml-12 px-7 py-2;
}

.btn-green {
    @apply bg-green-600 text-white;
}

.btn-green:hover {
    @apply bg-green-400;
}

.btn-blue {
    @apply bg-blue-600 text-white;
}

.btn-blue:hover {
    @apply bg-blue-400;
}

.btn-red {
    @apply bg-red-600 text-white;
}

.btn-red:hover {
    @apply bg-red-400;
}

.btn-gray {
    @apply bg-gray-600 text-white;
}

.btn-gray:hover {
    @apply bg-gray-400;
}

.btn-black {
    @apply bg-black text-white;
}

.btn-black:hover {
    @apply bg-gray-500;
}

.btn-disabled {
    @apply bg-gray-400 text-white;
}

.notAllowed {
    cursor: not-allowed !important;
}


/* テーブル */
.table {
    width: 800px;
    border-collapse: collapse;
    margin: 0 auto;
}

.th {
    border: 1px solid black;
}

.td {
    border: 1px solid black;
    padding-left: 10px;
}

.thead .th {
    height: 35px;
    background-color: #696969;
    color: white;
}

.tbody .td {
    height: 45px;
}

.tbody .tr:nth-child(2n) {
    background-color: #f5f5f5;
}

.tbody a {
    color: blue;
}

.tbody .td a:hover {
    text-decoration: underline;
}


/* モーダルCSS */
.modalArea {
    display: none;
    position: fixed;
    z-index: 10;
    /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 500px;
    padding: 30px 40px;
    background-color: #fff;
}

.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}
