@charset "UTF-8";

.formContainer {
    width: 1100px;
    margin: 0 auto;
    padding: 60px;
    background-color: whitesmoke;
}

.formContainerForPut {
    width: 900px;
    margin: 0 auto;
    padding: 60px;
    background-color: whitesmoke;
}

.formMain {
    width: 800px;
    margin: 0 auto;
}

.formMainForPut {
    width: 600px;
    margin: 0 auto;
}


/* テーブル */
indexT.
able{
    width: 800px;
}
.tId{
    width: 150px;
}

.tName{
    width: 400px;
}

.tRepName{
    width: 250px;
}
